  <div class="container" style="margin-top:50px">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          <a class="navbar-brand" href="#">BeGHN MMS</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a routerLink="home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/appointment" routerLinkActive="active">Appointment</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" routerLink="/patient" routerLinkActive="Active">Patient
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a routerLink="/patient/newpatient" routerLinkActive="active">Add New Patient</a></li>
                <li><a routerLink="/patient/patientinsurance" routerLinkActive="active">Insurance Eligibility</a></li>
             </ul>
           </li>
            <!-- <li><a routerLink="/visit" routerLinkActive="active">Visit</a></li> -->
            <li><a routerLink="/document" routerLinkActive="active">Document</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" routerLink="/setting" routerLinkActive="Active">Settings
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a routerLink="/setting/appuser" routerLinkActive="active">Users</a></li>
                <li><a routerLink="/setting/procedurecode" routerLinkActive="active">Manage Procedure Code</a></li>
                <li><a routerLink="/setting/employee" routerLinkActive="active">Add Employee</a></li>
              </ul>
           </li>
          <li><a routerLink="/testpage" routerLinkActive="active">Test Page</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span>LogIn</a></li>
          </ul>
        </div>
      </div>
  </nav>
</div>