
<div class="container">
	<div class="row">
		<div class="col-md-12">
            <div class="input-group" id="adv-search">
                <input type="text" class="form-control" placeholder="Advanced Search" />
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <form #searchdata="ngForm" class="form-horizontal" role="form">
                                  <div class="form-group">
                                    <label for="filter">Filter by</label>
                                    <select class="form-control" ngModel name="searchfield">
                                        <option value="any" selected>All Snippets</option>
                                        <option value="firstname">First Name</option>
                                        <option value="lastname">Last Name</option>
                                        <option value="ssn">SSN</option>
                                        <option value="patientid">Patient ID</option>
                                        <option value="appointmentdate">Visit/Appointment Date</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="contain">Search String</label>
                                    <input class="form-control" type="text" ngModel name="searchstring" />
                                  </div>
                                  <div class="form-group">
                                    <label for="contain">Contains the words</label>
                                    <input class="form-control" type="text" ngModel name="wildcard"/>
                                  </div>
                                  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                {{searchdata.value | json}}
                                </form>

                            </div>
                        </div>
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        
                    </div>
                </div>
            </div>
          </div>
        </div>
	</div>
